body {
  background-color: #4A9183;
  color: #FFF;
  text-align: center;
  line-height: 40px;
  font-family: "Playfair Display", serif;
  margin: 0;
}

body a {
  color: #fff;
}

label, input {
  display: inline-block;
}

label {
  margin: 15px;
}

nav {
  position: fixed;
  top:-10px;
  padding-top: 8px;
  padding-bottom: 12px;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
}

nav h1 a {
  margin:0;
  padding:0;
  float: left;
  font-size: 30px;
  padding-left: 20px;
  margin:0;
  text-decoration: none;
  padding-top: 15px;
}

nav a {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: #4A9183;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 15px;
}

body {
  background-color: #4A9183;
  color: #FFF;
  text-align: center;
  line-height: 10px;
  font-family: "Playfair Display", serif;
  margin: 0;
}

body a {
  color: #fff;
}

label, input {
  display: inline-block;
}

label {
  margin: 15px;
}

nav {
  position: fixed;
  top:-10px;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
}

nav h1 a {
  margin:0;
  padding:0;
  float: left;
  font-size: 30px;
  padding-left: 20px;
  margin:0;
  text-decoration: none;
  padding-top: 15px;
}

nav a {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: #4A9183;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

@media screen and (max-width: 725px) {
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fdfcdc;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    margin-top: 10px;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#db4a2b;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdfcdc;
    min-width: 160px;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #db4a2b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fdfcdc;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media screen and (min-width: 725px){
  .dropbtn {
    visibility: hidden;
  }

  .dropdown-content {
    float: right;
  }
}

.ambitions {
  padding-top: 130px;
}

.ambitions-text {
  padding-bottom: 15px;
}

.support {
  padding-top: 8px;
}

.support h3 {
  padding-top: 2px;
}

.support a {
  font-size: 20px;
}

.support p {
  padding-top: 10px;
}


.form {
  background-color: #fff;
  color: #4A9183;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  line-height: 10px;
}

.form-title {
  font-size: 20px;
  font-weight: bold;
}

.mentor-image {
  width: 300px;
  height: 200px;
  padding-bottom: 20px;
}

.mentor-link {
  font-size: 18px;
}

.project h1 {
  margin: 0;
}

#dark_button {
  margin:0;
  padding: 0;
  padding-right: 10px;
  float: right;
  position: relative;
  background-color:#4A9183;
  border: none;
}

.banner {
  background: #0C7C59;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.banner__content {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close > span {
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.version {
  float: left;
  padding-left: 20px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  padding-right: 20px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -180px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}