body {
  background-color: #FDFCDC;
  color: #0C7C59;
  text-align: center;
  font-family:"Source Sans 3", sans-serif;
  margin: 0;
}

body a {
  color: #0C7C59;
}

nav {
  position: fixed;
  padding-top: 20px;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #FDFCDC;
  overflow: hidden;
}

nav h1 {
  margin:0;
  padding:0;
  float: left;
  font-family: 'Archivo Black', 'Courier New', Courier, monospace;
  font-size: 30px;
  padding-left: 20px;
}

nav a {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

header {
  padding-top: 100px;
}

.support {
  padding-top: 20px;
}

.support h3 {
  padding-top: 7px;
}

.support a {
  font-size: 20px;
}

.support p {
  padding-top: 10px;
}

.project h1 {
  margin: 0;
}

#dark_button {
  margin:0;
  padding: 0;
  float: right;
  position: relative;
  background-color:#FDFCDC;
  border: none;
}

.banner {
  background: #0C7C59;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.banner__content {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close > span {
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: space-between;
}

.version {
  float: left;
  padding-bottom: 50px;
  padding-left: 20px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}