body {
  background-color: #9966CC;
  color: #FFF0F5;
  text-align: center;
  line-height: 10px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body a {
  color: #FFF0F5;
}

label, input {
  display: inline-block;
}

label {
  margin: 15px;
}

nav {
  position: fixed;
  top:-10px;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #FFF0F5;
}

nav h1 a {
  margin:0;
  padding:0;
  float: left;
  font-size: 30px;
  padding-left: 20px;
  margin:0;
  font-style: bold;
  padding-top: 15px;
}

nav a {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: #9966CC;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

header {
  padding-top: 10px;
}

.row {
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  padding: 30px;
  flex: 10%;
}

.column ul {
  padding-right: 40px;
}

.column ul li {
  list-style: none;
  padding-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.version {
  float: left;
  padding-left: 20px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  padding-right: 20px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #FFF0F5;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -180px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}