* {
    background-color: #FDFCDC;
    color: #0C7C59;
    text-align: center;
    font-family:"Source Sans 3", sans-serif;
    margin: 0;
}

nav {
  position: fixed;
  padding-top: 20px;
  left: 0;
  right: 0;
  z-index: 10;
}

nav h1 {
  float: left;
  font-family: 'Archivo Black', 'Courier New', Courier, monospace;
  font-size: 30px;
  padding-left: 20px;
}

nav a {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 20px;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

header {
  padding-top: 10px;
}

.row {
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  padding: 30px;
  flex: 10%;
}

.column ul {
  padding-right: 40px;
}

.column ul li {
  list-style: none;
  padding-top: 10px;
}

.version {
  float: left;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.problem {
  float: right;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
    flex-direction: column;
  }
}
