* {
  background-color: #2b303a !important;
}

body {
  background-color: #fdfcdc;
  color: #0c7c59;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

body a {
  color: #0c7c59;
}

nav {
  position: fixed;
  padding-top: 20px;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fdfcdc;
}

nav h1 {
  float: left;
  font-family: "Archivo Black", "Courier New", Courier, monospace;
  font-size: 30px;
  padding-left: 20px;
}

nav a {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 20px;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

nav a {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 20px;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

header {
  padding-top: 10px;
}

.row {
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  padding: 30px;
  flex: 10%;
}

.column ul {
  padding-right: 40px;
}

.column ul li {
  list-style: none;
  padding-top: 10px;
}

header {
  padding-top: 100px;
}

.support {
  padding-top: 20px;
}

.support h3 {
  padding-top: 7px;
}

.support a {
  font-size: 20px;
}

.support p {
  padding-top: 10px;
}

.project h1 {
  margin: 0;
}

#dark_button {
  margin:0;
  padding: 0;
  float: right;
  position: relative;
  background-color:#2b303a;
  border: none;
}

footer {
  display: flex;
  justify-content: space-between;
}

.version {
  padding-top: 50px;
  padding-left: 20px;
}

#problem {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color:#2b303a;
  border: none;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
}
