body {
  background-color: #FDFCDC;
  color: #0C7C59;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  margin: 0;
}

body a {
  color: #0C7C59;
}

body nav {
  position: fixed;
  background-color: #FDFCDC;
  padding-top: 30px;
  left: 0;
  right: 0;
  z-index: 10;
}

body nav h1 {
  float: left;
  font-family:'Archivo Black', 'Courier New', Courier, monospace;
  color:#FDFCDC;
  font-size: 30px;
  padding-left: 20px;
}

body nav a {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
}

body nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

header {
  padding-top: 100px;
}

.support {
  padding-top: 20px;
}

.support h1 {
  font-weight: 700;
}

.support h3 {
  padding-top: 7px;
}

.support a {
  font-size: 20px;
}

.support p {
  padding-top: 20px;
}

.grid {
  display:flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  margin: 0;
}

.subject-title{
  width:100%;
  margin: auto;
  padding-left: 15px;
}

.grid-item{
  padding-top: 2px;
}

.grid-item ul {
  width: 0;
  width:max-content;
}

.grid-item ul li {
  list-style: none;
  padding-top: 5px;
}

.version {
  float: left;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.problem {
  float: right;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}

#dark_button {
  background: none;
  border: none;
  float: right;
}

#dark_button img{
  height: 40px;
  width: 40px;
}