html {
  font-size: 16px;
}

body {
  background-color: #220e34; /* Dark background */
  color: #FFF0F5; /* Light text */
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 1.25rem;
  margin: 0;
  font-size: 1rem;
}

body a {
  color: #FFF0F5; /* Light link color */
}

@media screen and (max-width: 725px) {
  body {
    line-height: 2.5rem;
  }
}

label,
input {
  display: inline-block;
}

label {
  margin: 0.9375rem;
}

nav {
  position: fixed;
  top: -0.625rem;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  left: 0;
  right: 0;
  z-index: 20;
  color: #FFF0F5;
  background-color: #220e34; /* Dark mode nav background */
}

nav h1 a {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1.875rem;
  padding-left: 1.25rem;
  text-decoration: none;
  padding-top: 0.9375rem;
}

nav a {
  float: right;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1.25rem;
  color: #FFF0F5; /* Light nav link color */
}

nav #dark_mode {
  padding-top: 11px;
  background-color: #220e34; /* Dark button background */
  border: none;
}

nav #dark_mode img {
  height: 2rem;
  width: 2rem;
}

nav #discord {
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;
  padding-top: 0.625rem;
}

nav #discord img {
  height: 2.25rem;
  width: 2.25rem;
}

@media screen and (min-width: 750px) {
  .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav {
    padding-bottom: 0.3125rem;
  }

  nav #discord {
    padding-top: 1.25rem;
    padding-right: 2rem;
  }

  nav #dark_mode {
    display: none;
  }
}

.ambitions {
  padding-top: 8.125rem;
}

.ambitions-text {
  padding-bottom: 0.9375rem;
}

.ocr-program {
  padding: 1rem;
}

.ocr-program-heading {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.question-form {
  background-color: #391857;
  color: #FFF0F5;
  padding: 1.25rem;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
}

.question-text {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.custom-file-upload {
  margin-top: 1rem;
  display: inline-block;
  background-color: #7339AC;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.question-submit {
  margin-top: 1rem;
  background-color: #7339AC;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.question-output-container {
  color:#FFF0F5;
  text-align: left;
  margin-top: 2rem;
  background-color: #391857;
  padding: 30px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 8px;
}

.support {
  padding-top: 0.5rem;
}

.support h3 {
  padding-top: 0.125rem;
}

.support a {
  font-size: 1.25rem;
}

.support p {
  padding-top: 0.625rem;
}

.form {
  background-color: #391857; /* Dark form background */
  color: #FFF0F5; /* Light form text */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 31.25rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  line-height: 0.625rem;
}

.form-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.mentor-image {
  width: 18.75rem;
  height: 12.5rem;
  padding-bottom: 1.25rem;
}

.mentor-link {
  font-size: 1.125rem;
}

.project h1 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}

.project video {
  width: 90%;
}

@media screen and (max-width: 725px) {
  .project video {
    height: 12.5rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.version {
  float: left;
  padding-left: 1.25rem;
}

@media screen and (max-width: 725px) {
  footer {
    font-size: 0.75rem;
  }
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  padding-right: 1.25rem;
}

.popup .popuptext {
  visibility: hidden;
  width: 18.75rem;
  background-color: #220e34; /* Dark popup background */
  color: #FFF0F5; /* Light popup text */
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.625rem 0;
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  left: 50%;
  margin-left: -10rem;
}

.popup .show {
  visibility: visible;
}
