<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="science, study tools, study tool, realfag, realfag.net">
    <meta name="description" content="Nettstedet som gjør realfag enklere og har et oppgave gjennkjennelsesprogram">
    <meta name="author" content="Nover Studio">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" id="theme-style">
    <title>Realfag.net</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon_light.ico') }}" id="favicon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J4FCTJJ2YD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-J4FCTJJ2YD');
    </script>
</head>
<body onload="applySavedTheme(false)">
    <nav>
        <h1><a href="{{ url_for('index') }}">Realfag.net</a></h1>
        <a onclick="toggleMode(false)" id="dark_mode">
            <img src="{{ url_for('static', filename='images/dark_mode_light.webp') }}" alt="mørk modus knapp" id="dark_mode_icon">
        </a>
        <a id="discord" href="https://discord.gg/7AwyneAqgY" target="_blank">
            <img src="{{ url_for('static', filename='images/discord_logo_light.webp') }}" alt="discord-logo" id="dark_mode_discord">
        </a>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()"><img src="{{ url_for('static', filename='images/arrow_down.webp') }}" alt="dropdown button"></button>
            <div class="dropdown-content" id="dropdown-content">
                <a href="{{ url_for('vg3') }}">VG3</a>
                <a href="{{ url_for('vg2') }}">VG2</a>
                <a href="{{ url_for('vg1') }}">VG1</a>
                <a href="{{ url_for('info') }}">Info</a>
            </div>
        </div>
    </nav>
    <div class="ambitions">
        <h1 class="ambitions-text">Nettstedet som gjør læring enkelt</h1>
    </div>
    <div class="ocr-program">
        <h3 class="ocr-program-heading">Program som finner fram til oppgaven din</h3>
        <form class="question-form" action="/upload" method="post" enctype="multipart/form-data">
            <textarea id="textInput" name="question-text" rows="6" cols="75" placeholder="Skriv inn oppgaven"
                class="question-text"></textarea>
            <br>
            <label for="file-upload" class="custom-file-upload"> Klikk for å laste opp filer</label>
            <input id="fileInput" name="file-upload" type="file" />
            <input type="submit" class="question-submit" value="Send Inn">
        </form>
        <div class="question-output-container">
            <h4>Output:</h4>
            <h4 id="question-output">{{ output }}</h4>
        </div>
    </div>
    <div class="support">
        <h1>Støtt oss!</h1>
        <h2>Støtt oss ved å gi dine oppgaver/prøver/løsningsforslag!</h2>
        <div class="form">
            <form method="POST" action="{{ url_for('send_email') }}">
                <label class="form-title">Skjema for innsending:</label>
                <br>
                <label for="year">Årstall (åååå)</label>
                <input type="number" name="year" id="year" min="1950" max="2025">
                <br>
                <label for="school">Skolenavn:</label>
                <datalist id="school">
                    <option value="Nydalen VGS">
                    <option value="Elvebakken VGS">
                    <option value="Edvard Munch VGS">
                    <option value="F21 VGS">
                    <option value="Lillestrøm VGS">
                    <option value="Skedsmo VGS">
                    <option value="Mailand VGS">
                    <option value="Hersleb VGS">
                    <option value="Ullern VGS">
                    <option value="Kongshavn VGS">
                    <option value="Kuben VGS">
                    <option value="Foss VGS">
                    <option value="Vika VGS">
                    <option value="Akademiet Privat VGS">
                    <option value="Heltberg Privat VGS">
                    <option value="Etterstad VGS">
                    <option value="Bjerke VGS">
                    <option value="Valle Hovin VGS">
                    <option value="Stovner VGS">
                </datalist>
                <br>
                <label for="file">Last opp fil*</label>
                <input type="file" id="file" name="file" required>
                <br>
                <label for="resource_type">Ressurstype*</label>
                <select name="resource_type" id="resource_type" required>
                    <option value="exam-paper">Eksamensoppgaver</option>
                    <option value="mock-up-papers">Tentamensoppgaver</option>
                    <option value="assignements">Innleveringer/Oppgaver</option>
                    <option value="other">Annet</option>
                </select>
                <br>
                <input type="submit" value="Send inn">
                <input type="reset" value="Nullstill">
            </form>
        </div>
        <a href="mailto:contact@realfag.net" class="email">Alternativt send her (contact@realfag.net)!</a>
    </div>
    <footer>
        <div class="version">Versjon 1.2.4
            <a href="{{ url_for('static', filename='templates/logg.html') }}"> Logg </a>
        </div>
        <div class="popup" onclick="popUp()" async> Rapporter et problem/forbedringer
            <span class="popuptext" id="myPopup">
                <form method="POST" action="{{ url_for('send_problem') }}">
                    <label for="problem-text">Oppgi Problemet ditt:</label>
                    <br>
                    <textarea id="problem-text" name="problem-text" rows="10" cols="40"></textarea>
                    <br>
                    <input type="submit" value="Send inn">
                </form>
                <button onclick="popUpClose()">Lukk</button>
            </span>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>