<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="science, study tools, study tool, realfag, realfag.net" name="keywords" />
  <meta content="Nettstedet som gjør realfag enklere og ved hjelp av et oppgave gjennkjennelsesprogram, for studenter i Norge som studerer både Realfag og SSØ. Av elever for elever." name="description" />
  <meta content="Nover Studio" name="author" />
  <meta property="og:title" content="Realfag.net | Læring gjort enkelt">
  <meta property="og:description" content="Nettstedet som gjør realfag enklere og ved hjelp av et oppgave gjennkjennelsesprogram, for studenter i Norge som studerer både Realfag og SSØ. Av elever for elever.">
  <meta property="og:image" content="https://realfag.net/static/images/favicon_light.ico">
  <meta property="og:url" content="https://realfag.net">
  <title>Realfag.net | Læring gjort enkelt</title>
  <link href="{{ url_for('static', filename='css/school-light.css') }}" id="theme-style" rel="stylesheet" />
  <link href="{{ url_for('static', filename='images/favicon_light.ico') }}" id="favicon" rel="icon"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet" />
</head>

<body onload="applySavedTheme(true)">
  <nav>
    <h1><a href="{{ url_for('static', filename='/templates/index.html') }}">Realfag.net</a></h1>
    <a id="dark_mode" onclick="toggleMode(true)">
      <img alt="mørk modus knapp" id="dark_mode_icon"
        src="{{ url_for('static', filename='images/dark_mode_light.webp') }}" />
    </a>
    <a href="https://discord.gg/7AwyneAqgY" id="discord" target="_blank" rel="noopener noreferrer">
      <img alt="discord-logo" id="dark_mode_discord"
        src="{{ url_for('static', filename='images/discord_logo_light.webp') }}" />
    </a>
    <div class="dropdown">
      <div class="dropdown-content" id="dropdown-content">
          <a href="{{ url_for('VG3') }}">VG3</a>
          <a href="{{ url_for('VG2') }}">VG2</a>
          <a href="{{ url_for('VG1') }}">VG1</a>
          <a href="{{ url_for('info') }}">Info</a>
      </div>
  </div>
    </div>
  </nav>
  <div class="row">
    <div class="column">
      <h1 class="subject-title">
        R1
      </h1>
      <ul>
        <li>
          <p>
            *Ikke Fullstendige
          </p>
        </li>
        <li>
          <h3>
            H2024
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2024.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <p>
            Mangler
          </p>
        </li>
        <li>
          <h3>
            V2024
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2024.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <p>
            Mangler
          </p>
        </li>
        <li>
          <h3>
            H2023
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2023.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="/Løsningsforslag/r1/Eksamen R1 H2023 Del 2.pdf" target="_blank" rel="noopener noreferrer">
            Løsningsforslag*
          </a>
        </li>
        <li>
          <h3>
            V2023
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2023.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="/Løsningsforslag/r1/Eksamen R1 V2023 Del 2.pdf" target="_blank" rel="noopener noreferrer">
            Løsningsforslag*
          </a>
        </li>
        <li>
          <h3>
            H2022
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2022.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="/Løsningsforslag/r1/Eksamen R1 H2022 Del 2.pdf" target="_blank" rel="noopener noreferrer">
            Løsningsforslag*
          </a>
        </li>
        <li>
          <h3>
            V2022
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2022.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="/Løsningsforslag/r1/R1 Eksamen V2022 Del 2.pdf" target="_blank" rel="noopener noreferrer">
            Løsningsforslag*
          </a>
        </li>
        <li>
          <h3>
            H2021
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2021.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="/Løsningsforslag/r1/Eksamen R1 H2021 Del 2.pdf" target="_blank" rel="noopener noreferrer">
            Løsningsforslag*
          </a>
        </li>
        <li>
          <h3>
            V2021
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2021.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2020
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2020.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2020
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2020.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2019
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2019.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2019
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2019.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2018
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2018.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2018
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2018.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2017
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2017.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2017
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2017.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2016
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2016.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2016
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2016.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2015
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2015.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2015
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2015.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/R1_V15_eksempel.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave (Eksempel)
          </a>
        </li>
        <li>
          <h3>
            H2014
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2014.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2014
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2014.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2013
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2013.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2013
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2013.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2012.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2012.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2011
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2011.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2011
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2011.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2010
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2010.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2010
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2010.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2009
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2009.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2009
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2009.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2008
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2008.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2008
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2008.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2007
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_H2007.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2007
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/R1/Eksamen_R1_V2007.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            <a download="" href="{{ url_for('static', filename='/ZIP/R1.zip') }}" target="_blank" rel="noopener noreferrer">
              Last ned alle som .zip
            </a>
          </h3>
        </li>
      </ul>
    </div>
    <div class="column">
      <h1 class="subject-title">
        S1
      </h1>
      <ul>
        <li>
          <h3>
            H2024
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2024.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2024
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2024.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2023
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2023.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2023
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2023.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2022
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2022.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2022
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2022.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2021
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2021.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2021
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2021.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2020
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2020.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2020
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2020.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2019
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2019.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2019
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2019.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2018
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2018.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2018
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2018.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2017
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2017.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2017
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2017.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2016
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2016.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2016
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2016.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2015
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2015.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2015
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2015.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2015_eksempel.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2014
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2014.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2014
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2014.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2013
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2013.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2013
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2013.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2012.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2012.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2011
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2011.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2011
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2011.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2010
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2010.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2010
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2010.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2009
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2009.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2009
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2009.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2008
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2008.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2008
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2008.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2007
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_H2007.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2007
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/S1/Eksamen_S1_V2007.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            <a download="" href="{{ url_for('static', filename='/ZIP/S1.zip') }}" target="_blank" rel="noopener noreferrer">
              Last ned alle som .zip
            </a>
          </h3>
        </li>
        </li>
      </ul>
    </div>
    <div class="column">
      <h1 class="subject-title">
        2P
      </h1>
      <ul>
        <li>
          <h3>
            H2024
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2024.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2024
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2024.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2023
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2023.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2023
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2023.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2022
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2022.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2022
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2022.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2021
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2021.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2021
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2021.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2020
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2020.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2020
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2020.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2019
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2019.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2019
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2019.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2018
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2018.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2018
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2018.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2017
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2017.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2017
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2017.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2016
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2016.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2016
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2016.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2015
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2015.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2015
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2015.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2015_eksempel.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2014
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2014.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2014
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2014.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2013.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2013
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2013.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2012.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2012
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2012.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2012_eksempel.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave (Eksempel)
          </a>
        </li>
        <li>
          <h3>
            H2011
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2011.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2011
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2011.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2010
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2010.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2010
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2010.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2009
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2009.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2009
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2009.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2008
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2008.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2008
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2008.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            H2007
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_H2007.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
          <h3>
            V2007
          </h3>
        </li>
        <li>
          <a download="" href="{{ url_for('static', filename='/eksamensoppgaver/2P/Eksamen_2P_V2007.pdf') }}"
            target="_blank" rel="noopener noreferrer">
            Oppgave
          </a>
        </li>
        <li>
        </li>
        <li>
          <h3>
            <a download="" href="{{ url_for('static', filename='/ZIP/2P.zip') }}" target="_blank" rel="noopener noreferrer">
              Last ned alle som .zip
            </a>
          </h3>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="version">Versjon 1.2.4
      <a href="{{ url_for('static', filename='templates/logg.html') }}"> Logg </a>
    </div>
    <div class="popup" onclick="popUp()" async> Rapporter et problem/forbedringer
      <span class="popuptext" id="myPopup">
        <form method="POST" action="{{ url_for('send_problem') }}">
          <label for="problem-text">Oppgi Problemet ditt:</label>
          <br>
          <textarea id="problem-text" name="problem-text" rows="10" cols="40"></textarea>
          <br>
          <input type="submit" value="Send inn">
        </form>
        <button onclick="popUpClose()">Lukk</button>
      </span>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J4FCTJJ2YD"></script>
  <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());

          gtag('config', 'G-J4FCTJJ2YD');
  </script>
</body>

</html>